<h1 class="mb-4"><%= @question.title %></h1>

<time datetime="<%= @question.formatted_created_at %>">
  Created: <%= @question.formatted_created_at %> <br>
  Updated: <%= time_ago_in_words(@question.updated_at) %> ago <br>
  Answers: <%= @question.answers.count %>
</time>

<div class="my-4">
  <%= sanitize @question.body %>
</div>

<% @question.images.each do |image| %>
  <%= image_tag image, style: 'max-width: 300px;' %>
<% end %>

<% @question.files.each do |file| %>
  <p>
    <%= link_to file.filename, rails_blob_path(file, disposition: 'attachment') %>
  </p>
<% end %>

<%= link_to 'Редактировать', edit_question_path(@question), class: "btn btn-primary"  %>
<%= button_to 'Удалить', question_path(@question), class: "btn btn-danger mt-2", method: :delete, 
            data: { turbo_confirm: "Вы уверены?" }  %>

<hr class="my-4">

<h2> Создать ответ на вопрос </h2>

<%= render 'answers/form' %>

<h2 class="my-5"> Ответы на вопрос </h2>

<%== pagy_bootstrap_nav(@pagy) %>

<%= render partial: 'answers/answer', collection: @answers,
    as: :answer, locals: { question: @question } %>

<%== pagy_bootstrap_nav(@pagy) %>