<article class="mb-3 card" id="answer-<%= answer.id %>">
  <div class="card-body">
    <section class="cadr=text">

      <small>
        <time datetime="<%= answer.formatted_created_at %>">
          Created: <%= answer.formatted_created_at %>
        </time>
      </small>

      <div class="mt-2 mb-3">
        <%= sanitize answer.body %>
      </div>

    </section>

    <%= link_to 'Редактировать', edit_question_answer_path(question, answer), class: "btn btn-info btn-sm mb-2"   %>
    <%= button_to 'Удалить', question_answer_path(question, answer), class: "btn btn-danger btn-sm", method: :delete, data: { turbo_confirm: "Вы уверены?" }  %>
  </div>
</article>